.burger-menu,
.burger-menu-btn {
    display: none;
}

/* BURGER MENU FOR MOBILE */

@media only screen and (max-width: 600px) {

    .burger-menu {
        display: none;
        position: fixed;
        width: 100%
    }

    .burger-menu-btn {
        display: block;
        width: 50px;
        height: 50px;
        background-image: url(icons/list.svg), url(icons/x);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center, center left 50px;
        filter: brightness(0) invert(1); /* Makes the SVG images white */;
    }
}